# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# SQL Server
*.bak
*.mdf
*.ldf

# Logs
*.log

# macOS
.DS_Store